/* FOOTER STYLES */


footer{
    .container{
        margin-bottom:0%;
    }
    background: darkslategrey; /* IE6-9 */
    ;
    a{
        display:block;
        font-size:0.9rem;
        color: white;
        line-height: 1.7rem;
    }
    a:hover{
        color:black;
    }

    h4 a{
        font-size: 1.2rem;
        display: block;
        color:white;
        line-height: 3rem;
        text-decoration: underline;
    }
   
    h5{
        color:white;
    }
}

.row.footer{
    width: 100%;
    justify-content:center;
    margin-top:3%;
    
}

svg.svg-inline--fa.fa-heart{
    font-size:0.75rem;
    color:#f10d0de8;
}

