body.page--hive{
  h1{
    margin-top: 5%;
    margin-left: 5%;
  }

  h2 {
    color: #fec002;
  }

  h3{
    color:#282D48;
  }
  h4 {
    color: #63D6A3;
  }
  h5 {
    font-size: 0.75rem;
  }
  .tools{
    color: #ffc005;
  }
}